@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

:root {
    --body-bg: #d8e2f5;
    --bar-bg: #e8ebf5;
    --shadow-l: #ebf0fa;
    --shadow-d: #acbfe9;
    --text-color: #303030;
    --number-color: #6d6d6d;
}

body {
    background-color: var(--body-bg);
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: grid;
    place-items: center;
}

#container {
    display: flex;
    justify-content: center;
    gap: 6vw;
    height: 0;
}

#container div {
    display: flex;
    justify-content: center;
}

.bubble, .bar {
    background-color: var(--bar-bg);
    box-shadow: 3px 5px 10px var(--shadow-d), -3px -5px 10px var(--shadow-l), inset 1px 1px 2px var(--shadow-l);
    font-family: 'Original Surfer', cursive;
}

.bubble {
    font-size: 2em;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: var(--text-color);
    transition: all ease-in-out 0.4s;
    margin-top: -15px;
}

.bubble.expand {
    transform: scale(1.2);
}

.bar {
    font-size: 1.1em;
    width: 50px;
    border-radius: 15px;
    transition: margin-top ease 1s, height ease 1s;
    line-height: 40px;
    text-align: center;
    color: var(--number-color);
}

.bar-9 {
    height: calc(10 * 40px);
}

.bar-5 {
    height: calc(6 * 40px);
}

.bar-3 {
    height: calc(4 * 40px);
}

.bar-2 {
    height: calc(3 * 40px);
}
